*.iml
*.log

# IDE
.idea/

# Gradle / Android
.gradle/
/local.properties
local.properties
.externalNativeBuild/
.cxx/

# Flutter / Dart
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub/

# System
.DS_Store

# Build outputs
/build/
/captures/
